{# Optional helpers for applications that do not want to write asset tags. #}
{% macro styles() %}
<link rel="stylesheet" href="{{ url_for('kdui.static', filename='kdui/css/output.css') }}">
<link rel="stylesheet" href="{{ url_for('kdui.static', filename='kdui/css/kdui.css') }}">
{% endmacro %}

{% macro scripts() %}
<script src="{{ url_for('kdui.static', filename='kdui/js/vendor/basecoat.all.min.js') }}" defer></script>
<script src="{{ url_for('kdui.static', filename='kdui/js/components/command_search.js') }}" defer></script>
<script src="{{ url_for('kdui.static', filename='kdui/js/components/file_upload.js') }}" defer></script>
<script src="{{ url_for('kdui.static', filename='kdui/js/components/image_picker.js') }}" defer></script>
<script src="{{ url_for('kdui.static', filename='kdui/js/components/image_picker_crop.js') }}" defer></script>
<script src="{{ url_for('kdui.static', filename='kdui/js/components/data_table.js') }}" defer></script>
<script src="{{ url_for('kdui.static', filename='kdui/js/components/kpi_card.js') }}" defer></script>
<script src="{{ url_for('kdui.static', filename='kdui/js/components/activity_heatmap.js') }}" defer></script>
<script src="{{ url_for('kdui.static', filename='kdui/js/components/kanban.js') }}" defer></script>
{% endmacro %}
